{{> header}}
<h2>{{viewTitle}}</h2>
<table border="1">
    <thead>
        <th>ID Patron</th>
        <th>ID Libro</th> 
        <th>Date</th>
        <th>type</th>
        
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.idbrand}}</td>
                <td>{{this.idbook}}</td>
                <td>{{this.date}}</td>
                <td>{{this.type}}</td>
                

                <td>
                    <a href="/transbrand/{{this._id}}">Edit</a>
                    <a href="/transbrand/delete/{{this._id}}"
                    onclick="return confirm('Desea eliminar el registro?');">
                    Delete
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>