{{> header}}
<h2>{{viewTitle}}</h2>
<form action="/transbrand" method="POST">
    <input type="hidden" name="_id" value="{{transbrand._id}}" />
    Patron id
    <input type="text" name="name" value="{{brand.name}}"><br />
    Book id
    <input type="text" name="_id" value="{{Bookbrand._id}}"><br />
    Transaction date
    <input type="text" name="date" value="{{transbrand.date}}"><br />
    Transaction type
    <input type="text" name="type" value="{{transbrand.type}}"><br />
    <button type="submit">Save</button>
</form>